ul {
  list-style-type: square; /* muda o estilo dos pontos */
  padding-left: 20px;
}



body {
  background-color: #000000;   
  color: #ffffff;              
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;

h1, h2, h3, h4, h5, h6,
p, span, li, a {
  color: #ffffff;
}
}




